.inatgroup {
  display: flex;
  flex-wrap: wrap;
}

.inaturalist {
  border: 1px solid #999;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 2px;
}

img {
  border-radius: 1px;
}

.inaturalist .details:hover {
  background-color: #eee;
  cursor: pointer;
}

.inaturalist img {
  max-width: 100% !important;
  margin-left: auto !important;
  filter: brightness(115%);
}

.multi .inaturalist img {
  filter: brightness(100%);
}

.inaturalist.small img {
  max-height: 200px;
}

.inaturalist img:hover {
  cursor: zoom-in;
}

.title {
  font-size: 18px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.title span {
  font-style: italic;
  color: gray;
}

.inaturalist a {
  color: black !important;
  text-decoration: none !important;
}

.inaturalist .location {
  color: gray !important;
  font-style: italic;
}

.inaturalist .ids {
  color: gray !important;
}

.details {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.small .details {
  font-size: 11px;
}

.right {
  text-align: right;
}

.date {
  font-weight: bold;
}

.inaturalist.small {
  max-width: 200px;
}

.inaturalist.small .title {
  font-size: 15px;
}

/* main {
    width: 1000px;
} */

details {
  /* width: 50%; */
  /* margin: 0 auto ; */
  /* background: #282828; */
  /* margin-bottom: .5rem; */
  /* box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4); */
  /* border-radius: 5px; */
  overflow: hidden;
}

summary {
  padding: 1rem;
  display: block;
  /* background: #333; */
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  font-weight: bold;
}

summary:hover {
  background: #eee;
}

summary:before {
  content: "";
  border-width: 0.75rem;
  border-style: solid;
  border-color: transparent transparent transparent black;
  position: absolute;
  top: 1.3rem;
  left: 0.5rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

body {
  /* font-family: 'Times New Roman'; */
}

.multi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 770px) {
  .multi {
    width: calc(108% + 2.5em);
    margin-left: calc(-3.8% - 0.5em);
  }
}

@media (min-width: 970px) {
  .multi {
    width: calc(108% + 3em);
  }
}

@media (min-width: 1170px) {
  .multi {
    width: calc(108% + 3.5em);
  }
}

.multi img {
  max-width: 100% !important;
}

.multi figure {
  margin: 0.5em !important;
}

summary {
  font-size: 18px;
  padding-top: 7px;
}

.inaturalist img {
  transform: none !important;
}

nav {
  display: block !important;
  margin-left: -1em;
}

nav .doubleback {
  display: block;
  margin-left: -1em;
}

@media (max-width: 769px) {
  svg {
    max-width: 100%;
    max-height: calc((100vw - 2em) * 2.67);
  }

  nav {
    margin-left: 0em;
  }

  nav .doubleback {
    margin-left: 0em;
  }
}

figcaption {
  /* margin-top: -0.5em !important; */
  /* margin-bottom: 0.5em !important; */
}

@media (min-width: 770px) {
  main#content figure iframe {
    width: 108%;
  }
}

iframe {
  max-width: calc(100vw - 2em);
}
