<footer id="footer">
    {{ .Site.Params.copyright }}
</footer>

<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" href="/css/lightbox.css">
<script type="text/javascript" src="/js/accordion.js"></script>
<script type="text/javascript">
    var els = document.getElementsByTagName("img");
    for (var i = 0; i < els.length; i++) {
        var el = els[i];
        el.style.transform = "rotate(" + ((Math.random()-0.5)*2) +  "deg)";
    }

    var els = document.getElementsByClassName("inaturalist");
    for (var i = 0; i < els.length; i++) {
        var el = els[i];
        el.style.transform = "rotate(" + ((Math.random()-0.5)*1.5) +  "deg)";
    }
</script>